{% include "navbar.html" %}

<!-- header -->
<header class="header-page-bg overlay-shape">
    <!-- header-bottom-shape -->
    <div class="header-bottom-shape"></div>
    <div class="container">
        <div class="header-page-content">
            <small class="line-shape-bg color-white">Cysec</small>
            <h1 class="color-white">Blogs List</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Blogs List</li>
                </ol>
            </nav>
        </div>
    </div>
</header>
<!-- .end header -->
<!-- blog-section -->
<section class="blog-section pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 pb-30">
                <div class="blog-list-item mb-30">
                    <div class="blog-list-thumb">
                        <a href="blog-details.html">
                            <img src="/static/assets/images/blog-list-1.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="blog-card-content">
                        <div class="blog-entry-box">
                            <i class="flaticon-calendar-1"></i>November 20 2024
                        </div>
                        <h3>Clutch Names Cyber Hunter Leader in Canada</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat...</p>
                        <a href="blog-details.html" class="btn">Learn More</a>
                    </div>
                </div>
                <div class="blog-list-item mb-30">
                    <div class="blog-list-thumb">
                        <a href="blog-details.html">
                            <img src="/static/assets/images/blog-list-2.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="blog-card-content">
                        <div class="blog-entry-box">
                            <i class="flaticon-calendar-1"></i>November 18 2024
                        </div>
                        <h3>How To Identify And Avoid Phishing Attacks?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat...</p>
                        <a href="blog-details.html" class="btn">Learn More</a>
                    </div>
                </div>
                <div class="blog-list-item mb-30">
                    <div class="blog-list-thumb">
                        <a href="blog-details.html">
                            <img src="/static/assets/images/blog-list-3.jpg" alt="blog">
                        </a>
                    </div>
                    <div class="blog-card-content">
                        <div class="blog-entry-box">
                            <i class="flaticon-calendar-1"></i>November 17 2024
                        </div>
                        <h3>Why Use CyberHunter For Your Cloud Security</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat...</p>
                        <a href="blog-details.html" class="btn">Learn More</a>
                    </div>
                </div>
                <div class="page-pagination">
                    <nav aria-label="pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <span class="page-link"><i class="flaticon-left-arrow-1"></i></span>
                            </li>
                            <li class="page-item active">
                                <span class="page-link">
                                    1
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="flaticon-next"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-12 col-lg-4 pb-30">
                <div class="sidebar-item mb-30">
                    <div class="sidebar-search">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Search...">
                                <button class="btn"><i class="flaticon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar-item mb-30">
                    <div class="sidebar-title">
                        <h3>Recent Posts</h3>
                    </div>
                    <div class="blog-recent-content">
                        <div class="blog-recent-content-item">
                            <div class="blog-recent-content-image">
                                <a href="blog-details.html">
                                    <img src="/static/assets/images/recent-blog-1.jpg" alt="recent">
                                </a>
                            </div>
                            <div class="blog-recent-content-details">
                                <h3><a href="blog-details.html">Contemporary Web
                                        Design A Checklist </a></h3>
                                <ul class="blog-entry-holder">
                                    <li class="blog-holder-date">21st Nov 2024</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-recent-content-item">
                            <div class="blog-recent-content-image">
                                <a href="blog-details.html">
                                    <img src="/static/assets/images/recent-blog-2.jpg" alt="recent">
                                </a>
                            </div>
                            <div class="blog-recent-content-details">
                                <h3><a href="blog-details.html">The Trend Of WebUI
                                        In 2024</a></h3>
                                <ul class="blog-entry-holder">
                                    <li class="blog-holder-date">20th Nov 2024</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-recent-content-item">
                            <div class="blog-recent-content-image">
                                <a href="blog-details.html">
                                    <img src="/static/assets/images/recent-blog-3.jpg" alt="recent">
                                </a>
                            </div>
                            <div class="blog-recent-content-details">
                                <h3><a href="blog-details.html">Free Domain Hosting
                                        For Cyber Security</a></h3>
                                <ul class="blog-entry-holder">
                                    <li class="blog-holder-date">19th Nov 2024</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-recent-content-item">
                            <div class="blog-recent-content-image">
                                <a href="blog-details.html">
                                    <img src="/static/assets/images/recent-blog-4.jpg" alt="recent">
                                </a>
                            </div>
                            <div class="blog-recent-content-details">
                                <h3><a href="blog-details.html">How To Get Free
                                        Hosting With 1Y Free </a></h3>
                                <ul class="blog-entry-holder">
                                    <li class="blog-holder-date">18th Nov 2024</li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-recent-content-item">
                            <div class="blog-recent-content-image">
                                <a href="blog-details.html">
                                    <img src="/static/assets/images/recent-blog-5.jpg" alt="recent">
                                </a>
                            </div>
                            <div class="blog-recent-content-details">
                                <h3><a href="blog-details.html">Shared Hosing No
                                        Monthly Bill </a></h3>
                                <ul class="blog-entry-holder">
                                    <li class="blog-holder-date">17th Nov 2024</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar-item">
                    <div class="sidebar-title">
                        <h3>Tags</h3>
                    </div>
                    <div class="sidebar-content">
                        <ul class="sidebar-tag">
                            <li><a href="#"><i class="flaticon-tag"></i> Domain & Hosting </a></li>
                            <li><a href="#"><i class="flaticon-tag"></i> Design & Development </a></li>
                            <li><a href="#"><i class="flaticon-tag"></i> Virtual Assistant </a></li>
                            <li><a href="#"><i class="flaticon-tag"></i> Website Construction </a></li>
                            <li><a href="#"><i class="flaticon-tag"></i> Trend In Design </a></li>
                            <li><a href="#"><i class="flaticon-tag"></i> Digital Learning Inc </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .end blog-section -->

{% include "footer.html" %}