<!-- footer -->
<footer>
    <div class="footer-upper pt-100 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="footer-content-item">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/static/assets/images/logo.png" alt="logo"></a>
                        </div>
                        <div class="footer-details">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniama met
                                consectetur adipisi.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="footer-right pl-80">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="footer-content-list footer-content-item">
                                    <div class="footer-content-title">
                                        <h3>Cyber Services</h3>
                                    </div>
                                    <ul class="footer-details footer-list">
                                        <li><a href="ai-platforms.html">Cysec Discovery</a></li>
                                        <li><a href="ai-platforms.html">Cysec On-Demand</a></li>
                                        <li><a href="ai-platforms.html">Cysec MobileSuite</a></li>
                                        <li><a href="ai-platforms.html">Cysec Continous</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="footer-content-list footer-content-item">
                                    <div class="footer-content-title">
                                        <h3>Support & Help</h3>
                                    </div>
                                    <ul class="footer-details footer-list">
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="contact-us.html">Contact Us</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="blogs-list-with-sidebar.html">Blogs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-4">
                                <div class="footer-content-list footer-content-item">
                                    <div class="footer-content-title">
                                        <h3>Quick Links</h3>
                                    </div>
                                    <ul class="footer-details footer-list">
                                        <li><a href="terms-services.html">Terms Of Services</a></li>
                                        <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="authentication.html">Authentication</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower bg-off-white">
        <div class="container">
            <div class="footer-lower-grid">
                <div class="footer-lower-item footer-lower-info">
                    <div class="footer-copyright-text">
                        <p>© Cysec is Proudly Owned by <a href="https://hibootstrap.com/"
                                target="_blank">HiBootstrap</a></p>
                    </div>
                    <div class="footer-lower-action d-flex flex-wrap align-items-baseline">
                        <ul class="footer-action-list">
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="terms-services.html">Terms Of Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-lower-item">
                    <ul class="footer-lower-social">
                        <li>
                            <a href="#">
                                <i class='bx bxl-facebook-square'></i>
                                <span class="social-tooltip">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-twitter'></i>
                                <span class="social-tooltip">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-linkedin'></i>
                                <span class="social-tooltip">Linkedin</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-pinterest-alt'></i>
                                <span class="social-tooltip">Pinterest</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- .end footer -->

<!-- scroll-top -->
<div class="scroll-top" id="scrolltop">
    <div class="scroll-top-inner">
        <span><i class="flaticon-up-arrow"></i></span>
    </div>
</div>
<!-- .end scroll-top -->
<!-- sidebar-modal -->
<div class="sidebar-modal-wrapper">
    <div class="sidebar-modal">
        <div class="sidebar-modal-inner">
            <div class="sidebar-modal-header">
                <div class="sidebar-modal-logo">
                    <img src="/static/assets/images/logo.png" alt="logo">
                </div>
                <div class="sidebar-modal-close">
                    <i class="flaticon-cross-sign"></i>
                </div>
            </div>
            <div class="sidebar-modal-body">
                <div class="sidebar-modal-para">
                    <p>Cysec is a consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua.</p>
                </div>
                <div class="sidebar-modal-content-item">
                    <h4>Contact Us:</h4>
                    <div class="contact-grid-para"><i class="flaticon-network"></i>Level 2, 11 York St, Sydney 2000,
                        Australia</div>
                    <div class="contact-grid-para">
                        <i class="flaticon-phone-call"></i>
                        <p>
                            <a href="tel:0061-665-66785">+61 665 66785</a><br>
                            <a href="tel:0061-567-8907">+61 567 8907</a>
                        </p>
                    </div>
                    <div class="contact-grid-para">
                        <i class="flaticon-email"></i>
                        <p>
                            <a
                                href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#dbb2b5bdb4e9ebe9ef9bb8a2a8beb8f5b8b4b6"><span
                                    class="__cf_email__"
                                    data-cfemail="7b12151d14494b494f3b1802081e1855181416">[email&#160;protected]</span></a><br>
                            <a
                                href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#99eaece9e9f6ebedd9fae0eafcfab7faf6f4"><span
                                    class="__cf_email__"
                                    data-cfemail="02717772726d707642617b7167612c616d6f">[email&#160;protected]</span></a>
                        </p>
                    </div>
                </div>
                <div class="sidebar-modal-content-item">
                    <div class="sidebar-modal-share">
                        <p>Follow:</p>
                        <ul class="social-list">
                            <li><a href="#"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#"><i class="bx bxl-instagram"></i></a></li>
                            <li><a href="#"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#"><i class="bx bxl-pinterest-alt"></i></a></li>
                            <li><a href="#"><i class="bx bxl-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .end sidebar-modal -->

<!-- essential js -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/js/bootstrap.bundle.min.js"></script>
<!-- magnific popup js -->
<script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- owl carousel js -->
<script src="/static/assets/js/owl.carousel.min.js"></script>
<script src="/static/assets/js/scrollbar.js"></script>
<script src="/static/assets/js/horizontal-scrollbar.js"></script>
<script src="/static/assets/js/carousel-thumbs.min.js"></script>
<!-- counter js -->
<script src="/static/assets/js/jquery.waypoints.min.js"></script>
<script src="/static/assets/js/jquery.counterup.min.js"></script>
<!-- revolution slider js -->
<script src="/static/assets/js/jquery.themepunch.revolution.min.js"></script>
<script src="/static/assets/js/jquery.themepunch.tools.min.js"></script>
<!-- slider revolution extension scripts. only needed for local testing -->
<script src="/static/assets/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/static/assets/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="/static/assets/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/static/assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/static/assets/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/static/assets/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/static/assets/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="/static/assets/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/static/assets/js/extensions/revolution.extension.video.min.js"></script>
<!-- form ajazchimp js -->
<script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- form validator js  -->
<script src="/static/assets/js/form-validator.min.js"></script>
<!-- contact form js -->
<script src="/static/assets/js/contact-form-script.js"></script>
<!-- meanmenu js -->
<script src="/static/assets/js/jquery.meanmenu.min.js"></script>
<!-- main js -->
<script src="/static/assets/js/script.js"></script>
</body>

</html>