{% include "navbar.html" %}
<!-- header -->
<header class="header-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-6">
                {% for i in heading %}
                <div class="header-content header-content-full">
                    <small>{{i.heading_small_title}}</small>
                    <h1>{{i.heading_title}}</h1>
                    <p>{{i.heading_details}}</p>
                    <div class="header-button">
                        <a href="#" class="btn no-radius">Discover More <i class="flaticon-right-arrow-2"></i></a>
                        <a href="#" class="no-radius btn btn-border btn-border-black">Get A Quote <i
                                class="flaticon-right-arrow-2"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 pb-30">
                <div class="header-content-image text-center">
                    <img src="/static/assets/images/header-video-image.png" alt="header">
                    <div class="header-video-button">
                        <a href="https://www.youtube.com/watch?v=M3Lx_oE_n04" id="video-popup"><i
                                class="flaticon-play-button"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- .end header -->
<!-- feature-section -->
<section class="feature-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <small>Cysec Features</small>
            <h2>Precious Features Included With Cysec</h2>
        </div>
        <div class="row">
            {% for i in feature %}
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
                <div class="feature-card">
                    <div class="feature-card-inner">
                        <div class="feature-card-thumb">
                            <img src="/{{i.feature_image}}" alt="" width="100px">
                        </div>
                        <div class="feature-card-content">
                            <h3>{{i.feature_title}}</h3>
                            <p>{{i.feature_details}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- .end feature-section -->
<!-- about-section -->
<section class="about-section pb-70">
    <div class="container-fluid">
        {% for i in about %}
        <div class="row align-items-center">
            <div class="col-sm-12 col-lg-6 pb-30">
                <div class="about-item-image text-center">
                    <img src="/{{i.about_image}}" alt="about">
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 pb-10">
                <div class="max-585 mx-auto mx-lg-0">
                    <div class="about-item-text">
                        <div class="section-title section-title-left text-start">
                            <small>About Cysec</small>
                            <h2>{{i.about_heading}}</h2>
                            <p>{{i.about_details}}</p>
                        </div>
                        <div class="about-content-list">
                            <div class="about-list-item">
                                <h3><span>01.</span> {{i.about_point_1_title}}</h3>
                                <p>{{i.about_point_1_details}}</p>
                            </div>
                            <div class="about-list-item">
                                <h3><span>02.</span>{{i.about_point_2_title}} </h3>
                                <p>{{i.about_point_2_details}}</p>
                            </div>
                            <div class="about-list-item">
                                <h3><span>03.</span>{{i.about_point_3_title}}</h3>
                                <p>{{i.about_point_3_details}}</p>
                            </div>
                            <div class="about-list-item">
                                <h3><span>04.</span>{{i.about_point_4_title}}</h3>
                                <p>{{i.about_point_4_details}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- .end about-section -->

<!-- service-section -->
<section class="service-section p-tb-100">
    <div class="container">
        <div class="section-title">
            {% for i in services %}
            <small>Cybersecurity Services</small>
            <h2>{{i.service_heading}}</h2>
            <p>{{i.service_details}}</p>
            {% endfor %}
        </div>
        <div class="service-tab-area">
            <div class="service-grid-carousel">
                {% for i in serviceTab %}
                <div class="service-tab-list item service-tab-active" data-service-tab-item="1">
                    <div class="service-tab-list-inner">
                        <img src="/{{i.service_tab_image}}" alt="" width="100px">
                        <h4>{{i.service_tab_heading}}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
<!-- .end service-section -->
<!-- about-section -->
<section class="about-section pt-100 bg-off-white">
    <div class="container-fluid">
        <div class="row align-items-end">
            {% for i in challenge %}
            <div class="col-12 order-2 order-lg-1 col-lg-4">
                <div class="about-item-image text-center">
                    <img src="/{{i.challenge_image}}" alt="about" width="100%">
                </div>
            </div>
            <div class="col-12 order-1 order-lg-2 col-lg-8 pb-70 mobile-pb-0">
                <div class="max-910">
                    <div class="about-item-text">
                        <div class="section-title section-title-left text-start">
                            <small>Our Challenge</small>
                            <h2>{{i.challege_title}}</h2>
                        </div>
                        <div class="about-content-list-two">
                            <div class="about-list-item-two">
                                <div class="about-list-item-selector">
                                    <i class="flaticon-check-1"></i>
                                </div>
                                <div class="about-list-item-text">
                                    <h3>{{i.challenge_1_title}}</h3>
                                    <p>{{i.challenge_1_details}}</p>
                                </div>
                            </div>
                            <div class="about-list-item-two">
                                <div class="about-list-item-selector">
                                    <i class="flaticon-check-1"></i>
                                </div>
                                <div class="about-list-item-text">
                                    <h3>{{i.challenge_2_title}}</h3>
                                    <p>{{i.challenge_2_details}}</p>
                                </div>
                            </div>
                            <div class="about-list-item-two">
                                <div class="about-list-item-selector">
                                    <i class="flaticon-check-1"></i>
                                </div>
                                <div class="about-list-item-text">
                                    <h3>{{i.challenge_3_title}}</h3>
                                    <p>{{i.challenge_3_details}}</p>
                                </div>
                            </div>
                            <div class="about-list-item-two">
                                <div class="about-list-item-selector">
                                    <i class="flaticon-check-1"></i>
                                </div>
                                <div class="about-list-item-text">
                                    <h3>{{i.challenge_4_title}}</h3>
                                    <p>{{i.challenge_4_details}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- .end about-section -->
<!-- service-section -->
<div class="service-section service-bg pt-100 pb-70">
    <div class="container position-relative">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 pb-30">
                {% for i in partners %}
                <div class="service-title section-title section-title-left section-title-white m-0 text-start">
                    <small>Cybersecurity Protect</small>
                    <h2>{{i.protect_heading}}</h2>
                    <p>{{i.protect_details_main}}</p>
                    <a href="services.html" class="btn">Discover More <i class="flaticon-right-arrow-2"></i></a>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 col-lg-6">
                {% for i in protectTwo %}
                <div class="service-product-grid">
                    <div class="service-product-item">
                        <div class="service-product-item-inner">
                            <div class="service-top-icon">
                                <i class="flaticon-checked"></i>
                            </div>
                            <div class="service-product-icon">
                                <i class="flaticon-server"></i>
                            </div>
                            <div class="service-product-text">
                                <h3>{{i.protect_title}}</h3>
                                <p>{{i.protect_details}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .end service-section -->
<!-- choose-section -->
<section class="choose-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <small>All-in Solution</small>
            <h2>Reasons You Rely On Us</h2>
        </div>
        <div class="choose-content-grid">
            <div class="choose-content-item choose-content-label pb-10">
                <div class="choose-content-inner">
                    {% for i in solutions %}
                    <div class="choose-label-list" data-choose-label="2">
                        <h4>{{i.solution_title}}</h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="choose-content-item choose-content-details pb-30">
                <div class="choose-content-inner">
                    {% for i in solutions %}
                    <div class="choose-details-item active" data-choose-details="1">
                        <h3>{{i.solution_title}}</h3>
                        <p>{{i.solution_details}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .end choose-section -->
{% include "footer.html" %}