{% include "navbar.html" %}

<header class="header-page-bg overlay-shape">
    <!-- header-bottom-shape -->
    <div class="header-bottom-shape"></div>
    <div class="container">
        <div class="header-page-content">
            <small class="line-shape-bg color-white">Cysec</small>
            <h1 class="color-white">Services</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Services</li>
                </ol>
            </nav>
        </div>
    </div>
</header>
<!-- .end header -->
<!-- service-section -->
<section class="service-section pt-100">
    <div class="container">
        <div class="section-title section-title-lg">
            <small>Cybersecurity Services</small>
            <h2>Cyber Security Solutions & Technology Aid <span>Entire Solution</span></h2>
        </div>
        <div class="service-item-grid d-flex flex-wrap">
            <div class="service-item-list service-box-two">
                <div class="service-box-icon">
                    <i class="flaticon-password"></i>
                </div>
                <div class="service-box-text">
                    <h3>Choose Strong Passwords</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i
                                class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon">
                    <i class="flaticon-bug"></i>
                </div>
                <div class="service-box-text">
                    <h3>Update Your Antivirus</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i
                                class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon">
                    <i class="flaticon-sign-out"></i>
                </div>
                <div class="service-box-text">
                    <h3>Remember To Log Off</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i
                                class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon">
                    <i class="flaticon-network"></i>
                </div>
                <div class="service-box-text">
                    <h3>Safety In Trusted Websites</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i
                                class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon">
                    <i class="flaticon-email-2"></i>
                </div>
                <div class="service-box-text">
                    <h3>Check Emails Before Opening </h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i
                                class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
            <div class="service-item-list service-box-two">
                <div class="service-box-icon">
                    <i class="flaticon-broken-link"></i>
                </div>
                <div class="service-box-text">
                    <h3>Check Website Url</h3>
                    <p>Lorem ipsum dolor amet consectetur adiising eli sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliquaqem</p>
                    <p><a href="service-details.html" class="redirect-link">Learn More <i
                                class="flaticon-right-arrow-2"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .end service-section -->

<div class="service-details-carousel service-details-carousel-two">
    <div class="service-details-carousel-item" data-service-tab-details="1">
        <div class="service-tab-details row align-items-center">
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-text">
                    <h3>Website Protection</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <a href="service-details.html" class="btn">Discover More <i class="flaticon-right-arrow-2"></i></a>
                </div>
            </div>
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-image service-details-frame-2">
                    <img src="/static/assets/images/service-tab-1.jpg" alt="service">
                </div>
            </div>
        </div>
    </div>
    <div class="service-details-carousel-item" data-service-tab-details="2">
        <div class="service-tab-details row align-items-center">
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-image service-details-frame-2">
                    <img src="/static/assets/images/service-tab-3.jpg" alt="service">
                </div>
            </div>
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-text">
                    <h3>Hacking Protection</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <a href="service-details.html" class="btn">Discover More <i class="flaticon-right-arrow-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="service-details-carousel-item" data-service-tab-details="3">
        <div class="service-tab-details row align-items-center">
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-text">
                    <h3>Confidential Information</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <a href="service-details.html" class="btn">Discover More <i class="flaticon-right-arrow-2"></i></a>
                </div>
            </div>
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-image service-details-frame-2">
                    <img src="/static/assets/images/service-tab-2.jpg" alt="service">
                </div>
            </div>
        </div>
    </div>
    <div class="service-details-carousel-item" data-service-tab-details="4">
        <div class="service-tab-details row align-items-center">
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-image service-details-frame-2">
                    <img src="/static/assets/images/service-tab-4.jpg" alt="service">
                </div>
            </div>
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-text">
                    <h3>Mobile Security</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <a href="service-details.html" class="btn">Discover More <i class="flaticon-right-arrow-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="service-details-carousel-item" data-service-tab-details="5">
        <div class="service-tab-details row align-items-center">
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-text">
                    <h3>Security Advisory</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <a href="service-details.html" class="btn">Discover More <i class="flaticon-right-arrow-2"></i></a>
                </div>
            </div>
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-image service-details-frame-2">
                    <img src="/static/assets/images/service-tab-6.jpg" alt="service">
                </div>
            </div>
        </div>
    </div>
    <div class="service-details-carousel-item" data-service-tab-details="6">
        <div class="service-tab-details row align-items-center">
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-image service-details-frame-2">
                    <img src="/static/assets/images/service-tab-5.jpg" alt="service">
                </div>
            </div>
            <div class="col-12 col-lg-6 service-tab-details-item">
                <div class="service-details-text">
                    <h3>Technical Assurance</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo co</p>
                    <a href="service-details.html" class="btn">Discover More <i class="flaticon-right-arrow-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- partner-section -->
<section class="partner-section p-tb-100">
    <div class="container section-border-bottom pb-100">
        <div class="section-title">
            <small>Partners</small>
            <h2>We're Working With</h2>
        </div>
        <div class="partner-carousel default-carousel owl-carousel owl-theme">
            <div class="item">
                <div class="partner-thumb">
                    <a href="#">
                        <img src="/static/assets/images/partner-1.png" alt="partner">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#">
                        <img src="/static/assets/images/partner-2.png" alt="partner">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#">
                        <img src="/static/assets/images/partner-3.png" alt="partner">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#">
                        <img src="/static/assets/images/partner-4.png" alt="partner">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#">
                        <img src="/static/assets/images/partner-2.png" alt="partner">
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="partner-thumb">
                    <a href="#">
                        <img src="/static/assets/images/partner-3.png" alt="partner">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .end partner-section -->

{% include "footer.html" %}